<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop.xsd">


	<!-- Transaction Manager -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactoryBean"></property>
	</bean>

	<!-- Para que lea los metodos anotados con @Transactional -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<!-- EL SERVICIO Genero NECESITA EL DAO  -->
	<bean id="dataAccessBeanGenero" class="frgp.utn.edu.ar.daoImpl.GeneroDaoImpl" 
		scope="singleton"> 
		<property name="sessionFactory" ref="sessionFactoryBean"></property> 
	</bean>
	
		<!-- EL SERVICIO Libro NECESITA EL DAO  -->
	<bean id="dataAccessBeanLibro" class="frgp.utn.edu.ar.daoImpl.LibroDaoImpl" 
		scope="prototype"> 
		<property name="sessionFactory" ref="sessionFactoryBean"></property> 
	</bean>
	
	<!-- CREO EL SERVICIO PARA Libro -->
	<bean id="serviceBeanLibro" class="frgp.utn.edu.ar.servicioImpl.LibroServicioImpl">
		<property name="dataAccess" ref="dataAccessBeanLibro"></property>
		<property name="dataAccessGenero" ref="dataAccessBeanGenero"></property>
		<property name="dataAccessAutor" ref="dataAccessBeanAutor"></property>
	</bean>
	
	<!-- CREO EL SERVICIO PARA Autor -->
	<bean id="serviceBeanAutor" class="frgp.utn.edu.ar.servicioImpl.AutorServicioImpl">
		<property name="dataAccess" ref="dataAccessBeanAutor"></property>
		<property name="dataAccessNacionalidad" ref="dataAccessBeanNacionalidad"></property>
	</bean>
	
	<bean id="dataAccessBeanNacionalidad" class="frgp.utn.edu.ar.daoImpl.NacionalidadDaoImpl" 
		scope="singleton"> 
		<property name="sessionFactory" ref="sessionFactoryBean"></property> 
	</bean>
	
	<!-- EL SERVICIO Autor NECESITA EL DAO  -->
	<bean id="dataAccessBeanAutor" class="frgp.utn.edu.ar.daoImpl.AutorDaoImpl" 
		scope="singleton"> 
		<property name="sessionFactory" ref="sessionFactoryBean"></property> 
	</bean>
	
	<!-- CREO EL SERVICIO PARA Cliente -->
	<bean id="serviceBeanCliente" class="frgp.utn.edu.ar.servicioImpl.ClienteServicioImpl">
		<property name="dataAccess" ref="dataAccessBeanCliente"></property>
	</bean>
	
	<!-- EL SERVICIO Cliente NECESITA EL DAO  -->
	<bean id="dataAccessBeanCliente" class="frgp.utn.edu.ar.daoImpl.ClienteDaoImpl" 
		scope="singleton"> 
		<property name="sessionFactory" ref="sessionFactoryBean"></property> 
	</bean>
	
	<!-- CREO EL SERVICIO PARA USUARIO -->
	<bean id="serviceBeanUser" class="frgp.utn.edu.ar.servicioImpl.UsuarioServicioImpl">
		<property name="dataAccess" ref="dataAccessBeanUser"></property>
	</bean>

	<!-- EL SERVICIO Usuario NECESITA EL DAO  -->
	<bean id="dataAccessBeanUser" class="frgp.utn.edu.ar.daoImpl.UsuarioDaoImpl" 
		scope="singleton"> 
		<property name="sessionFactory" ref="sessionFactoryBean"></property> 
	</bean>
	
	<!-- Define un dataSource, en este bean se configura los parametros de la db -->
	<bean id="dataSourceBean"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/BibliotecaDB?createDatabaseIfNotExist=true" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<!-- Session factory de Hibernate -->
	<bean id="sessionFactoryBean"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSourceBean" />

		<!-- En esta propiedad deberian agregarse todas las clases anotadas con JPA. -->
		<property name="annotatedClasses">
			<list>
				<value>frgp.utn.edu.ar.entidades.EUsuario</value>
				<value>frgp.utn.edu.ar.entidades.EGenero</value>
				<value>frgp.utn.edu.ar.entidades.ENacionalidad</value>
				<value>frgp.utn.edu.ar.entidades.EAutor</value>
				<value>frgp.utn.edu.ar.entidades.ELibro</value>
				<value>frgp.utn.edu.ar.entidades.EBiblioteca</value>
				<value>frgp.utn.edu.ar.entidades.ECliente</value>
				<value>frgp.utn.edu.ar.entidades.EPrestamo</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
				<prop key="show_sql">true</prop >
				
				<!-- CREACION DE LA BASE -->
				<prop key="hibernate.hbm2ddl.auto">update</prop> 
			</props>
		</property>
	</bean>

	
	
</beans>