@charset "ISO-8859-1";
body{
      background:no-repeat url("fondo2.jpg");
      font-size:18px;
      font-family: Verdana, Geneva, Tahoma, sans-serif
}

.botones{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
}

h2{
    text-align: center;
}

.tabla{
    margin: 10px;
    padding-top:10px;
}
.divFormulario {
    padding: 10px 300px 10px 300px;
}



.btn.btn-success.form{
   
    margin: 10px;
}

.btn.btn-danger.form{
    margin: 10px;
}

.container{
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
padding:50px;
margin-top: 150px;

}
.container > h2{
    color: aliceblue;
}